<div class="container">
  <div class="primary-data">
    <img src="assets/daytime.jpg" alt="day" />
    <img src="assets/nighttime.jpg" alt="night" />

    <div class="weather-info">
      <div class="location">Budapest</div>
      <div class="temperature">{{ 14.4 | number : "1.0-0" }}°C</div>
    </div>
  </div>
  <div class="secondary-data">
    <div class="details-label">Details</div>
    <div class="details-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="assets/coldtemp.svg" alt="" />
          <span>Min</span>
        </div>
        <div class="info-block-value">10°C</div>
      </div>
    </div>
  </div>
</div>
