<div class="container">
  <div class="primary-data">
    <img src="assets/daytime.jpg" alt="day" />
    <img src="assets/nighttime.jpg" alt="night" />

    <div class="weather-info">
      <div class="location">Budapest</div>
      <div class="temperature">{{ 16.6 | number : "1.0-0" }}°C</div>
    </div>
  </div>

  <div class="secondary-data">
    <div class="details-label">Details</div>
    <div class="details-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="assets/coldtemp.svg" alt="" />
          <span>Min</span>
        </div>
        <div class="info-block-value">13°C</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="assets/hottemp.svg" alt="" />
          <span>Max</span>
        </div>
        <div class="info-block-value">22°C</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="assets/humidity.svg" alt="" />
          <span>Humidity</span>
        </div>
        <div class="info-block-value">77%</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="assets/wind.svg" alt="" />
          <span>Wind speed</span>
        </div>
        <div class="info-block-value">7 km/h</div>
      </div>
    </div>
  </div>
</div>
