.icon {
  font-size: 2.5rem;
}
body {
  background-color: darkgray;
}

.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 4rem;
}
button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button {
  background-color: #28a745;
}

.add-button:hover {
  background-color: #218838;
}

.remove-button {
  background-color: #ad1c1c;
}

.remove-button:hover {
  background-color: #8d1515;
}

.move-button {
  font-size: 2rem;
}

.move-button:hover {
  border: 3px solid black;
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  color: gray;
}

ol {
  padding: 0;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: whitesmoke;
  margin-bottom: 10px;
  border: 3px solid gray;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.delete-button,
.move-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}
